@import "@/styles/variables.scss";

.selectLocationAndTime {
    display: flex;
    flex-direction: column;
    width: 100%;

    .stepItem {
        display: flex;
        column-gap: 10px;
        position: relative;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        width: 100%;
        // lets make a margin left according to stepLine and gap
        margin-left: -23px;

        &:last-child {
            min-height: auto;
            padding-bottom: 0;
        }

        .stepCircleContainer {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .stepCircle {
                z-index: 2;
                height: fit-content;
                margin: -10px;
                background-color: $white;
            }

            .stepLine {
                position: absolute;
                width: 1px;
                height: 100%;
                border-left: 1px dashed $black;
                margin-left: 1px;

                &.first {
                    top: 50%;
                    height: 50%;
                }
                &.last {
                    height: 50%;
                    bottom: 50%;
                }
            }
        }

        .stepLabel {
            display: flex;
            margin-top: -7px;
            width: 100%;
        }
    }

    .divider {
        height: 1.5rem;
        width: 100%;
        border-left: 1px dashed $black;
        margin: 1px 0;
        margin-left: -13px;

        &.noShow {
            display: none;
        }
    }

    .timeAndLocationCard {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 1rem;
        width: 100%;
        max-width: 660px;
        background-color: $background;
        padding: 1rem;
        border-radius: 4px;

        .check {
            display: flex;
            align-items: center;
            overflow: hidden;
            grid-column: 8 / 11;
            white-space: nowrap;
        }

        .inputNumber {
            grid-column: 11 / -1;
            min-width: 10px;
        }

        .inputDate {
            grid-column: 1 / 7;
        }
        .inputTime {
            grid-column: 7 / -1;
        }
    }
}

.ant-input-number {
    width: auto !important;
}
