.stateContainer {
  display: flex;
  justify-content: center;

  .stateContent {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #969696;

    .text {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;

      &.blackColor {
        color: #141414;
      }
    }
  }
}