@import "@styles/variables.scss";

.createTOMilkyView {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__descriptionCard {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        background-color: $light-orange;
        width: 100%;
        padding: 2rem;
        border-radius: 4px;

        h3 {
            font-size: 2rem;
            font-weight: 700;
        }

        h5 {
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

    &__recommendationTripCard {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        border: 1px solid #cacaca;

        &__header {
            padding: 20px 32px;
            border-bottom: 1px solid #cacaca;

            h6 {
                font-size: 1rem;
                font-weight: 600;
            }

            p {
                font-size: 0.75rem;
                font-weight: 500;
                color: $real-dark-gray;
            }
        }

        &__content {
            display: grid;
            grid-template-columns: 1fr 155px;
            gap: 40px;
            justify-content: space-between;
            padding: 18px 32px;

            .date {
                font-size: 0.75rem;
                font-weight: 400;
            }

            .time {
                font-size: 1.25rem;
                font-weight: 600;
            }

            .origin {
                font-size: 0.75rem;
                font-weight: 600;

                span {
                    color: $secondary-gray;
                }
            }

            .hhmmDuration {
                background-color: rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                padding: 6px 8px;
                font-size: 0.75rem;
                font-weight: 400;
            }

            .durationLine {
                border-bottom: 1px gray dashed;
                width: 100%;
            }
        }
    }

    .driver-phone {
        color: $black !important;
        text-decoration: underline;
    }

    .driver-name {
        text-decoration: underline;
    }

    .selectRouteButton {
        width: 151px;
        height: 45px !important;
        font-size: 0.875rem;
        font-weight: 700;
    }
}

.driver-info-tooltip {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-hoverMessage {
        color: $black;

        .copyButton {
            padding: 0;
            width: 16px;
            height: 16px;
            border: none;
        }
    }
}

.stopItem {
    width: 420px;
    display: flex;
    justify-content: space-between;

    span {
        color: $gray;
    }
}
