@import "@/styles/variables.scss"; 
.filterCascader {
    height: 100%;

    .ant-select-selector {
        border: 1px solid #141414 !important;
        color: #141414;
        font-size: 16px;
        font-weight: 600;

        .ant-select-selection-overflow {
            flex-wrap: nowrap !important;
        }
    }

    .ant-select-arrow {
        color: #141414 !important;
    }

}


.actionButton {
    font-family: inherit;
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 8px;
  
    border: none;
    box-shadow: none;
    cursor: pointer;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-decoration: underline;
    }
}

.cascader-menu-container {
    max-height: 200px; /* Ajusta según tus necesidades */
    overflow-y: auto;
  }
  
  .cascader-buttons {
    display: flex;
    justify-content: flex-start; /* Centra los botones */
    gap: 2.5rem; /* Espaciado fijo entre los botones */
    padding: 8px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    position: sticky;
    bottom: 0;
    z-index: 10;
    width: 100%; /* Asegura que ocupe todo el ancho del Cascader */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
  }