.customTag {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 4px 8px;
    border-radius: 8px;
    height: 32px; // Altura fija
    overflow: hidden;
    white-space: nowrap;
    gap: 10px;
}

.customTagCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    flex-shrink: 0;
}
.customTagText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}
