@import "@styles/_variables.scss";

.inputRegular {
    height: 3rem !important;
    background-color: $background;
    border-radius: 0.25rem;
    width: 100% !important;

    .ant-select-selector {
        font-size: 1rem !important;

        .ant-select-selection-item {
            font-weight: 300;
        }

        .ant-select-selection-placeholder {
            color: $dark-gray;
        }
    }

    &.ant-select-disabled {
        background-color: $dark-gray !important;

        color: $black !important;
        .ant-select-selection-placeholder {
            color: $black;
            font-weight: 300;
        }

        &::placeholder {
            color: $black !important;
        }
    }
}

.inputError {
    border: 1px dashed $error;
    height: 3rem !important;
    margin-bottom: 0.2rem;
    background-color: $background;
    padding: 0.45rem;
    border-radius: 0.25rem;
    font-weight: 300;

    .ant-select-selector {
        .ant-select-selection-placeholder {
            color: $dark-gray;
            font-size: 1rem;
        }
    }
}
