@import "@styles/variables.scss";

.mainTitle {
    display: flex;

    .titleContainer {
        display: flex;
        border-radius: 8px;
        background: #f7f7f7;
        flex: 0 0 auto;
    }
}

.emptyContainer {
    display: flex;
    justify-content: center;
    margin: 50px 0px;

    .textEmpty {
        color: rgba(20, 20, 20, 0.5);
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.12px;
    }
}
.labelText {
    font-size: 0.875rem;
    font-weight: 600;
    color: $black;
}
