.card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    row-gap: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;

    .navContainer {
        display: flex;
        column-gap: 2rem;
        border-bottom: 1px solid #ddd;

        .nav {
            padding-bottom: 4px;
            color: #ddd;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;

            &.active {
                color: #141414;
                font-weight: 700;
                border-bottom: 1px solid #141414;
            }
        }
    }

    .titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .backContainer {
            display: flex;
            column-gap: 10px;
            align-items: center;
            cursor: pointer;

            .title {
                color: #141414;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.12px;
            }
        }

        .btnContainer {
            display: flex;
            column-gap: 8px;

            .actionBtn {
                background-color: #f7f7f7;
            }

            .tranckingBtn {
                background-color: #cbe71e;
            }

            .text {
                color: var(--Black, #141414);
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

    .dot {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #cbe71e;
        color: #141414;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        padding-top: 2px;
        letter-spacing: -0.08px;
    }
}
