@import "@styles/variables.scss";

.selectContainer {
    .select-form-title {
        color: #909090;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0.5rem;
    }

    .selectInput {
        background-color: #f7f7f7;
        border-radius: 0.25rem;
        padding: 1.5rem;
        padding-left: 0;
        font-size: 1rem;
        border: none;
        font-weight: 300;

        &::placeholder {
            color: #dddddd !important;
        }

        &:disabled {
            color: #dddddd !important;
        }
    }

    .selectInputError {
        width: 100%;
        border: 1px dashed red;
        height: 3rem !important;
        margin-bottom: 0.2rem;
        background-color: $background;
        padding: 0.45rem;
        border-radius: 0.25rem;
        font-weight: 300;

        .ant-select-selector {
            .ant-select-selection-placeholder {
                color: $dark-gray;
                font-size: 1rem;
            }
        }
    }
    .textError {
        color: red;
        margin-top: 0.5rem;
    }

    .ant-select {
        &-dropdown {
            border: none !important;
            box-shadow: none !important;
        }
    }

    .ant-select-selector {
        border: none !important;
        box-shadow: none !important;
        background-color: #f7f7f7 !important;
    }
}
